@{
    ViewData["Title"] = "Home Page";
}
<script language="javascript" type="text/javascript">
    function setCentralImg(image){
        let imageSrc ='images/'+image;
        $('#theImage').attr('src',imageSrc);
        $('#result').load('/Home/GetPicFaces',{'imageSrc':imageSrc},function(){
    var jsonobj = JSON.parse($('#result').text());
    var pretty = JSON.stringify(jsonobj,null,'\t')
    var html = Prism.highlight(pretty, Prism.languages.json);
    $('#result').html(html);
    });
        
    }
    
    function similar(image){
        let imageSrc ='images/'+image;
        $('#theImage').attr('src',imageSrc);
        $('#result').load('/Home/GetPicFaces',{'imageSrc':imageSrc},function(){
    var jsonobj = JSON.parse($('#result').text());
    var pretty = JSON.stringify(jsonobj,null,'\t')
    var html = Prism.highlight(pretty, Prism.languages.json);
    $('#result').html(html);
    });
        
    }
    

</script>
<script src="~/js/prism.js"></script>
<div class="row " style="height:600px;">
    <div class="col-md-2" style="height:90%">
        <h2>Images</h2>
        <div class="result" style="overflow-y:auto; height:100%">
        @foreach( var image in ViewData["Images"] as List<string> ){
        <img src="images/@image" width="200" onclick="setCentralImg('@image')" />

        }

        </div>
        
    </div>
    <div class="col-md-5"  style="height:90%">
        <h2>The image</h2>
    <div class="result" style="overflow: auto; height:100%">
        <img id="theImage" width="100%" alt="image" />

    </div>

    </div>
    <div class="col-md-5" style="height:90%">
        <h2>Results</h2><div style="overflow: auto; height:100%">
            <pre >
        <code class="language-json" id="result" >
            
        </code></pre></div>
    </div>

</div>
